.control {
  box-sizing: border-box;
  display: inline-block;
  width: 33%;
  padding: @spacing;


  &__content-wrapper {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.65);
    padding: @spacing-large;
  }

  &__label {

    text-align: left;
    font-weight: normal;
    border-bottom: 1px solid silver;
    margin: 0px -@spacing @spacing -@spacing;
    padding-bottom: @spacing;
    padding-left: @spacing;
    padding-right: @spacing;
  }

  @media (max-width: @tablet-break-point) {
    width: 50%;
  }

  @media (max-width: @mobile-break-point) {
    width: 100%;
  }
}



