.switch-control {
  .no-select;

  &__value {
    font-size: 20px;
    border: none;
    text-align: center;
    display: none;
  }

  &__label {
    display: inline-block;
    padding-right: 10px;
    line-height: 24px;

    &::before {
      content: "";
      box-shadow: 0 0 0 2px @fontColor, inset 0 0 0 10px white;
      display: inline-block;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      margin-right: 10px;
      margin-left: 10px;
      transition: all 300ms;
      background-color: @fontColor;
    }

    &:active {
      &::before {
        box-shadow: 0 0 0 2px @fontColor, inset 0 0 0 8px white, 0 0 0 16px fade(@fontColor, 50%);
      }
    }

    &--checked {
      
      &::before {
        background-color: @controllerColor;
        box-shadow: 0 0 0 2px @controllerColor, inset 0 0 0 2px white;
      }

      &:active::before {
      box-shadow: 0 0 0 2px @controllerColor, inset 0 0 0 3px white, 0 0 0 16px fade(@controllerColor, 50%);
      }
    }
  }
}